<%- include("partials/header"); -%>
    <div class=htp>
    
    <p> <%=aboutContent %> </p>
<div class="aboutus">
    <div class="personal"style="text-align:center;">
        <h2>In This website use technology in forntend HTML ,CSS,JS  </h2>
        <h2 >and Backend NODE.JS EXPRESS AND DATABASE IN MONGODB AND MONGOOSE AND MULTER</h2>
    </div>
</div>


    </div>
<%- include("partials/footer"); -%>

