
<%- include("partials/header"); -%>

<div class="homebar">

    




<div class="salutation">
  <h2>HELLO AND WELCOME</h2>
  <p style="text-align: center;">IT'S RAHUL KUMAR YADAV BASED IN MUNGER IN INDIA </p>
  <p style="text-align: center;">HI! I'M FREELANCER WEB DEVELOPER</p>
</div>



</div>
<script>
  
</script>



<%- include("partials/footer"); -%>
