<%- include("partials/header"); -%>

  <!-- <div class="time">
  </div> -->

<div class="post-bar"style="height: 83vh;overflow-x: hidden;overflow-y:scroll;">
  <h1 class="post-bar-head"style="color:beige;"><%=title%></h1>
  <p style="color: beige;"><%=content %></p>
 
</div>

  



<%- include("partials/footer"); -%>
